<!-- 로그인 팝업-->
<div id="signinPopup" class="popup-overlay">
  <div class="modal-popup">
    <div class="popup-header">
      <div>
        <img src="/assets/img-key.png" alt="sign in emoji" style="width: 20px;"/>
        &nbsp;Sign In
      </div>
      <div class="btn btn-close" (click)="closeSignInPopup()">
        <img src="/assets/ico-close.svg" alt="close" width="16"/>
      </div>
    </div>
    <div class="popup-body">
      <div class="signin-banner"></div>
      <div class="signin-buttons">
        <a href="#" (click)="startGithubSignIn()">
          <div class="btn btn-signin-github">
            <img
              src="/assets/app-icons/ico-app-github.svg"
              alt="github"
              width="32"
            />
            Sign in with Github Account
          </div>
        </a>
        <a href="#" (click)="startGoogleSignIn()">
          <div class="btn btn-signin-google">
            <img
              src="/assets/app-icons/ico-app-google.svg"
              alt="google"
              width="32"
            />
            Sign in with Google Account
          </div>
        </a>
      </div>
      <div class="signin-policies">
        By signing in, you agree to our
        <a
          href="/s/terms-of-service#terms-of-service"
          target="_blank"
        >terms of service</a
        >
        and
        <a
          href="/s/terms-of-service#privacy-policy"
          target="_blank"
        >privacy policy</a
        >. We care a lot about your privacy data.
      </div>
    </div>
  </div>
</div>
<div class="container">
  <header class="page-header">
    <a href="./index.html">
      <div class="page-header-brand logo">
        <img src="/assets/logo.svg" alt="logo"/><span class="logo-title"
      >my.new</span
      >
      </div>
    </a>
    <div class="page-header-navi">
      <div class="page-header-navi-items">
        <button data-feedback-fish class="navi-item">
          Give us feedbacks
        </button>
        <!-- 로그인 한 경우 data-feedback-fish-userid 를 attribute에 추가한다. -->
        <!-- <button data-feedback-fish data-feedback-fish-userid="유저아이디" class="navi-item">
          Give us feedbacks
          </button> -->
        <a href="http://bit.ly/my-new-help-desk" target="_blank" class="navi-item">Help</a>
        <div
          id="buttonSignIn"
          class="btn"
          (click)="openSignInPopup()"
        >
          <img src="/assets/img-key.png" style="width: 16px" alt=""/>
          <span>
                Sign In
              </span>
        </div>
      </div>
    </div>
  </header>
  <div class="page-body">
    <div class="section section-cta">
      <h4 style="color: #444;">
        .new, but it's personalized action-based URLs for everyone.
      </h4>
      <h1>
        Make shorten URLs for creating something new.
      </h1>
      <p>
        Now, You don't need to rummage the unorganized bookmarks menu <br/>
        or try to remember long and unmemorizable URLs.
      </p>
      <div
        id="buttonCTA"
        class="btn btn-primary"
        (click)="openSignInPopup()"
      >
        Create my own shortcuts <span>→</span>
      </div>
      <div class="demo-video-desktop" style="margin-top: 30px; margin-bottom: -30px">
        <div style="width: 100%; height: 383px; float: none; clear: both; margin: 0 auto;">
          <embed
            src="https://www.youtube.com/embed/vWjhzyhRPVc?controls=0?autohide=1&autoplay=1"
            wmode="transparent"
            type="video/mp4"
            width="100%" height="100%"
            allow="autoplay; encrypted-media; picture-in-picture"
            allowfullscreen
            title="Keyboard Cat"
          >
        </div>
      </div>
      <div class="demo-video-mobile" style="margin-top: 30px; margin-bottom: -30px">
        <div style="width: 100%; height: 383px; float: none; clear: both; margin: 0 auto;">
          <embed
            src="https://www.youtube.com/embed/vC8inyjtf-I?controls=0?autohide=1&autoplay=1"
            wmode="transparent"
            type="video/mp4"
            width="100%" height="100%"
            allow="autoplay; encrypted-media; picture-in-picture"
            allowfullscreen
            title="Keyboard Cat"
          >
        </div>
      </div>
    </div>
    <div class="section section-trial">
      <h2>Try first.</h2>
      <p>
        Click <span>or</span> Write the URL below into your address bar.
      </p>
      <div class="try-shortcuts">
        <a
          id="labelOpenInNewTab"
          href="https://my.new/sheet"
          target="_blank"
        >
          <div class="shortcut-url">
            <div class="shortcut-url-host">
              <img src="/assets/ico-lock.svg" alt="https"/>
              <span>my.new/</span>
            </div>
            <div>
              <div class="shortcut-url-keyword">
                <div id="keySheet" class="shortcut-vars is-active">
                  <img src="/assets/app-icons/ico-app-gsheet.svg" alt="spreadsheet"/>
                  <span>sheet</span>
                </div>
                <div id="keyBoard" class="shortcut-vars">
                  <img src="/assets/app-icons/ico-app-board.svg" alt="white board"/>
                  <span>board</span>
                </div>
                <div id="keyPoll" class="shortcut-vars">
                  <img src="/assets/app-icons/ico-app-fastpoll.svg" alt="fast poll"/>
                  <span>poll</span>
                </div>
                <div id="keyVideoCall" class="shortcut-vars">
                  <img src="/assets/app-icons/ico-app-gotalk.svg" alt="video call"/>
                  <span>videocall</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a
          id="buttonOpenInNewTab"
          href="/sheet"
          target="_blank"
          class="btn btn-function"
        >
          Open in new tab
        </a>
      </div>
      <form class="btn-group">
        <input
          id="buttonOpenSheet"
          type="radio"
          ng-model="shortcutKeyword"
          value="sheet"
          name="shortcutApp"
          checked
          (click)="changeDestination($event); switchShortcutTrial($event)"
        />
        <label for="buttonOpenSheet">
          <img
            src="/assets/app-icons/ico-app-gsheet.svg"
            alt="spreadsheet"
            width="24"
          />
          <span>Spreadsheet</span>
        </label>
        <input
          id="buttonOpenBoard"
          type="radio"
          ng-model="shortcutKeyword"
          value="board"
          name="shortcutApp"
          (click)="changeDestination($event); switchShortcutTrial($event)"
        />
        <label for="buttonOpenBoard">
          <img src="/assets/app-icons/ico-app-board.svg" alt="board" width="24"/>
          <span>White board</span>
        </label>
        <input
          id="buttonOpenPoll"
          type="radio"
          ng-model="shortcutKeyword"
          value="poll"
          name="shortcutApp"
          (click)="changeDestination($event); switchShortcutTrial($event)"
        />
        <label for="buttonOpenPoll">
          <img src="/assets/app-icons/ico-app-fastpoll.svg" alt="fast poll" [width]="24"/>
          <span>Fast Poll</span>
        </label>
        <input
          id="buttonOpenVideoCall"
          type="radio"
          ng-model="shortcutKeyword"
          value="videocall"
          name="shortcutApp"
          (click)="changeDestination($event); switchShortcutTrial($event)"
        />
        <label for="buttonOpenVideoCall">
          <img src="/assets/app-icons/ico-app-gotalk.svg" alt="video call" [width]="24"/>
          <span>Video Call</span>
        </label>
      </form>
    </div>
    <div class="section section-youcando">
      <h2>You can do.</h2>
      <div class="content-columns">
        <div class="column-2 content-image">
          <img
            src="/assets/img-youcando.svg"
            alt="your own shortcuts"
            width="190"
          />
        </div>
        <div class="column-2 content-text">
          <h3>
            Less clicking, more creating with your favorite apps.
          </h3>
          <p>
            Write a note, book a meeting, edit pictures for instagram, and
            talk with colleagues via a video call - Do your favorite actions
            directly on this browser with your URL shortcuts.
          </p>
        </div>
      </div>
    </div>
    <div class="section section-howtouse">
      <h2>How to use.</h2>
      <div class="content-columns">
        <div class="column-3">
          <div class="badge-number">1</div>
          <div class="img-frame">
            <img
              src="/assets/img-howto01.svg"
              alt="connect an app"
              width="167"
            />
          </div>
          <h4>
            Connect an app
          </h4>
          <p>
            Connect your favorite app. You can add the creating action of
            the app to your dashboard.
          </p>
        </div>
        <div class="column-3">
          <div class="badge-number">2</div>
          <div class="img-frame">
            <img
              src="/assets/img-howto02.svg"
              alt="set a shorcut"
              width="75"
            />
          </div>
          <h4>
            Set a shortcut
          </h4>
          <p>
            Set a simple word for calling the action of the app you
            connected by URL shortcut.
          </p>
        </div>
        <div class="column-3">
          <div class="badge-number">3</div>
          <div class="img-frame">
            <img
              src="/assets/img-howto03.svg"
              alt="run a shortcut"
              width="180"
            />
          </div>
          <h4>
            Run your shortcut
          </h4>
          <p>
            Type the URL shortcut (my.new/...) into the address bar of your
            web browser.
          </p>
        </div>
      </div>
    </div>
    <div class="section section-whywebuilt">
      <h2>Why we built.</h2>
      <div class="img-frame">
        <img
          src="/assets/img-googlenew.png"
          alt="google .new"
          [width]="230"
        />
      </div>
      <a href="https://whats.new" target="_blank" class="link-outer"
      >Go to Google's whats.new website
        <span><img src="/assets/logo.svg" alt="outlink" width="12"/></span
        ></a>
      <p>
        <strong>.new</strong> is google's brand new domain extension, which
        focuses on creating something new online.<br/><br/>
        We love the idea of expanding the value of the web, also expecting
        more great products will join it.<br/><br/>
        However, due to the domain name system's structural restriction,
        this .new extension has a limitation in which the name's owner can
        easily monopolize user-favorite actions like play, create, note,
        etc.<br/><br/>
        It's a useful corporate branding tool. But we wanted to develop this
        idea in more user-centric and practical ways, even while keeping its
        original philosophy.
      </p>
    </div>
  </div>
  <footer class="page-footer">
    <div class="page-footer-brand logo">
      <img src="/assets/logo.svg" alt="logo"/><span class="logo-title">my.new</span>
    </div>
    <ul>
      <li>
        <a href="/s/terms-of-service#terms-of-service">Terms of Service</a>
      </li>
      <li>
        <a href="/s/terms-of-service#privacy-policy">Privacy Policy</a>
      </li>
      <li><a href="mailto:team@my.new">Contact Us</a></li>
      <li class="feedbacks">
        <button data-feedback-fish class="navi-item">
          Give us feedbacks
        </button>
      </li>
      <li class="feedbacks"><a href="http://bit.ly/my-new-help-desk" target="_blank" class="navi-item">Help</a></li>
    </ul>
  </footer>
</div>
